/*Modal*/
.model {
  display: none;
  position: fixed;
  padding-top: 100px;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.model-content {
  position: relative;
  width: 54%;
  margin: auto;
  background-color: #fff;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
  padding: 18px 20px;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-body {
  padding: 2px 16px;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.model-content h2 {
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 16px;
}
.modal-body label {
  font-size: 14px;
  color: #000;
  padding-bottom: 9px;
  font-weight: 500;
}
.form-control1 {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fom-con-btn {
  background-color: #fff0;
  border: none;
  color: #000;
  margin-left: -11%;
  font-size: 16px;
}
.form-mar {
  margin-top: 11px;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
table.table.tab-des {
  background: white;
}
/*Theme Color*/
.hiden {
  display: none;
}
.alert {
  border: none; /*padding:0;*/
}
div#loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99999;
  background: #ffffff85;
}
.print-error-msg li {
  padding: 4px;
}
div#loader-container-ajax {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99999;
  background: #ffffff85;
}
#listdata {
  position: relative;
  min-height: 70vh;
}
/*top-header*/
/*header*/
/* [readonly] {
  background-color: white !important;
} */
.flex-head {
  display: flex;
  align-items: center;
  justify-content: left;
}
.add-main1 ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo img {
  width: 67%;
}
.add-main1 ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}
.head-add1 h5 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 6px;
}
.head-add1 p {
  font-size: 14px;
  margin-bottom: 8px;
}
.add-main2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a.btn.btn-a {
  border: 2px solid #ddd;
  color: #000;
}
a.btn.btn-a:hover {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  background: #008749;
  color: #fff !important;
}
.logo p {
  font-weight: bold;
}
/*media-quries*/
@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 1200px) {
  .menu-Bar {
    display: block;
    top: 0px;
  }
  .menuWrap.open {
    display: flex;
    left: 0px;
  }
  .menuWrap {
    position: fixed;
    left: -210%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #175fab;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all 0.4s ease;
    z-index: 3;
    width: 100vw;
  }
  .menuWrap .menu li {
    display: block;
  }
  .menuWrap .menu li a {
    margin-bottom: 10px;
    padding: 0;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    padding-right: 0px;
    margin-right: 0px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
  }
  .container {
    position: relative;
  }
  header .header-top {
    display: none;
  }
  header .main-header ul.menu > li {
    display: block;
    padding: 0px;
  }
  header .main-header ul.menu > li a {
    color: #fff;
    padding: 0px;
    text-align: left;
  }
  header .main-header ul.menu > li a:before {
    display: none;
  }
}
@media (max-width: 980px) {
}
@media (min-width: 440px) and (max-width: 740px) {
}
@media (max-width: 425px) {
}
.lead-inside2 a {
  border: solid 2px #000;
  padding: 3px 12px;
  margin-right: 11px;
  color: black;
  font-weight: 500;
  background-color: #ffffff;
  z-index: 3;
  position: relative;
  display: inline-block;
  margin: 7px;
}
a.colored-fill {
  background: #ef4400;
  color: white;
  border-color: transparent;
}
#paginationLinks svg.w-5.h-5 {
  height: 20px;
}
div#paginationLinks {
  text-align: right;
}
.flex.justify-between.flex-1.sm\:hidden {
  display: none;
}
div#paginationLinks
  .hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}
a.menu-items-link span {
  transition: transform 0.3s ease-in-out 0.1s; /* 0.1s is the animation delay */
}
a.menu-items-link.active span {
  transform: rotate(180deg);
}
a.menu-items-link.active {
  background: #d95000;
}
a.menu-items-link:hover {
  background: #d95000;
}
a.menu-items-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li.submenu-item {
  padding-left: 12px;
}
#accordion .card {
  border: 0 !important;
}
span.circle {
  height: 15px;
  width: 15px;
  background: #ff0000;
  display: inline-block;
  border-radius: 50%;
}
label.priority-badge.danger {
  background: #ffecec;
  padding: 8px 15px;
  border-radius: 6px;
  color: #ff0000;
}
label.priority-badge.success {
  color: #009406;
  background-color: #e8ffed;
  padding: 8px 15px;
  border-radius: 6px;
}
label.priority-badge.warning {
  color: #ffc107 !important;
  background-color: #ffc10736;
  padding: 8px 15px;
  border-radius: 6px;
}
.ui-sortable-placeholder {
  border: 1px dashed black !important;
  visibility: visible !important;
  background: #eeeeee78 !important;
}
.ui-sortable-placeholder * {
  visibility: hidden;
}
.RearangeBox.dragElemThumbnail {
  opacity: 0.6;
}
.RearangeBox {
  width: 180px;
  height: 180px;
  padding: 10px 5px;
  cursor: all-scroll;
  float: left;
  border: 1px solid #9e9e9e;
  font-family: sans-serif;
  display: inline-block;
  margin: 5px !important;
  text-align: center;
  color: #673ab7; /*background:#ffc107;*/
  /*color:rgb(34,34,34);background:#f3f2f1;*/
}
.IMGthumbnail {
  max-width: 168px;
  height: 100%;
  margin: auto;
  background-color: #ececec;
  padding: 2px;
  border: none;
}
.IMGthumbnail img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: contain;
}
.imgThumbContainer {
  margin: 4px;
  border: solid;
  display: inline-block;
  justify-content: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.imgThumbContainer > .imgName {
  text-align: center;
  padding: 2px 6px;
  margin-top: 4px;
  font-size: 13px;
  height: 15px;
  overflow: hidden;
}
.imgThumbContainer > .imgRemoveBtn {
  position: absolute;
  color: #e91e63ba;
  right: 2px;
  top: 2px;
  cursor: pointer;
  display: none;
}
.RearangeBox:hover > .imgRemoveBtn {
  display: block;
}
.error-box-table {
  background: #ef440014;
}
.progress.my-auto {
  height: 12px;
}
.progress-bar {
  background-color: #d95000 !important;
}
.progress-bar.p100 {
  background-color: #009406 !important;
}
@media (min-width: 576px) {
  .inc-w .modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
  }
}
.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(44 44 44 / 87%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; /* display:none;*/
  color: white !important;
}
.preloader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  .flex-head {
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
  }
  .add-main1 ul {
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    padding: 0 !important;
    list-style: none !important;
  }
  .logo img {
    width: 67% !important;
  }
  .head-add1 h5 {
    font-size: 15px !important;
    font-weight: 700 !important;
    margin-bottom: 6px !important;
  }
  .head-add1 p {
    font-size: 12px !important;
    margin-bottom: 8px !important;
  }
  .add-main2 {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
}
